.repo-backups/

__pycache__/
*.pyc

linked_data

third_party/DDSP-SVC/__pycache__/
third_party/DDSP-SVC/cache/
third_party/DDSP-SVC/results/
third_party/DDSP-SVC/data
third_party/DDSP-SVC/exp
third_party/DDSP-SVC/pretrain/

third_party/MSST-WebUI/__pycache__/
third_party/MSST-WebUI/cache/
third_party/MSST-WebUI/tmpdir/
third_party/MSST-WebUI/input/
third_party/MSST-WebUI/results/
third_party/MSST-WebUI/logs/
third_party/MSST-WebUI/workenv/
third_party/MSST-WebUI/backup/
third_party/MSST-WebUI/build/
third_party/MSST-WebUI/pretrain/
third_party/MSST-WebUI/pretrain/hub/
third_party/MSST-WebUI/presets/
third_party/MSST-WebUI/presets_backup/

third_party/SO-VITS-SVC/dataset/
third_party/SO-VITS-SVC/dataset_raw/
third_party/SO-VITS-SVC/logs/
third_party/SO-VITS-SVC/pretrain/
third_party/SO-VITS-SVC/universial_model/


third_party/MSST-WebUI/*.ckpt
third_party/MSST-WebUI/*.pt
third_party/MSST-WebUI/*.pth
third_party/MSST-WebUI/*.th
third_party/MSST-WebUI/*.chpt
third_party/MSST-WebUI/*.pyd

third_party/ncmdump/build/
third_party/ncmdump/cmake-build-*/
third_party/ncmdump/vcpkg_installed/
third_party/ncmdump/ncmdump
